<div class="container-sm" style="padding-bottom: 85px">
  <div  *ngIf="!isFetching">
    <div  class="card mb-3" *ngFor="let message of messages">
      <div class="card-header">
        <span class="mr-2">Author: {{ message.author }}</span> <span class="text-secondary">{{ message.datetime }}</span>
      </div>
      <div class="card-body">
        {{ message.message }}
      </div>
    </div>
  </div>
  <span class="spinner-border" *ngIf="isFetching">
        <span class="sr-only">Loading...</span>
</span>
</div>
<div class="container-sm fixed-bottom mb-2 card-header">
  <form class="form-inline" #f="ngForm">
    <div class="form-group flex-grow-1 d-flex mr-4">
      <input type="text" class="form-control align-self-stretch mr-1 ml-2" id="author" placeholder="author"
             name="author" ngModel>
      <textarea class="form-control flex-grow-1" id="message" placeholder="message" name="message" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary align-self-start mr-2 ml-auto" (click)="sendMessage()">
      <i class="bi bi-send" *ngIf="!isUploading"></i>
      <span class="spinner-border spinner-border-sm" *ngIf="isUploading">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>
